apiVersion: v1
kind: Secret
metadata:
  name: cloudflared-tunnel-{TUNNEL}-credentials
type: Opaque
data:
  credentials.json: `k create secret generic test --from-file=credentials.json=$HOME/.cloudflared/{TUNNEL_ID}.json --output yaml --dry-run=client`
