apiVersion: v1
kind: Secret
metadata:
  name: cloudflared-domain-vrsfin-certificate
type: Opaque
data:
  cert.pem: `k create secret generic test --from-file=cert.pem=$HOME/.cloudflared/cert.pem --output yaml --dry-run=client`
