apiVersion: v1
kind: Secret
metadata:
  name: cloudflared-tunnel-credentials
type: Opaque
data:
  credentials.json: <BASE64_TUNNEL_CREDENTIALS>
---
apiVersion: v1
kind: Secret
metadata:
  name: cloudflared-certificate
type: Opaque
data:
  cert.pem: <BASE64_CERITIFICATE>
